#future {
  position: fixed;
  color: red;
  margin-top: -30px;
  font-size: 85%;
  background-color: pink;
  width: 800px;
  text-align: center;
}

#TOC {
  font-size: 85%;
  line-height: 130%;
  position: relative;
  padding: 30px 10px 10px;
  margin: 30px auto;
  border: 1px dashed gray;
}

#TOC:before{
  position: absolute;
  content: 'Contents';
  top: 0;
  left: 0;
  padding: 0.4em;
  background: #FFFFFF;/*背景色*/
}

details {
  padding: 15px;
  border: 1px solid slategray;
}

.hint {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 30px auto;
  border: 1px dashed gray;
}

.hint:before{
  position: absolute;
  content: 'HINTS';
  top: 0;
  left: 0;
  padding: 0.4em;
  background: #FFFFFF;/*背景色*/
}
